
@{
    ViewBag.Title = "Home";
}

<br />
<!--Welcome page for the users-->
<div class="jumbotron">
    <h1>Welcome to Campus Apartments</h1>
    <br />
    <p class="lead">Your roomate broke your refigerator, or your wall fell on you, and you don't know what to do? Before you go to BestBuy and purchase another refrigerator for about $900, or ducktape the wall together, let our experts make an effort. All you have to do is fill in the application linked down below.</p>
    
    <p><a href="Create" class="btn btn-primary btn-lg">Fill Out Form &raquo;</a></p>
</div>
