
#summary {
	padding-left: 30px;
}

#category{

	font-size: 20px;
	
}

#quote {
	font-style: oblique;
	font-size: 20px;
	padding-left: 30px;
	color: grey;
}

#subtitle {
	padding-left: 20px;
}

#title{
	text-align: center;
	padding-top: 30px;
}

#banner {
	width: 100%;
	text-align: center;
	height: 100%;

}

