
@{
    ViewBag.Title = "HelloWorld";
}

<h2>HelloWorld</h2>

<form action="/Color/HelloWorld" method="post">

    Name: <input type="text" name="personName" />
    <input type="submit" name="btnSubmit" value="Say Hello" />




</form>