
@{
    ViewBag.Title = "Index";
}
<br /><br /><br />
<h2 id="title">Internet Language Translator</h2>
<br /><br />

@using (Html.BeginForm("", "", FormMethod.Post, new { id = 0, @class = "myForm" }))
{
    <div class="form-group">

        @Html.TextBox("text-input", "", new { @class = "form-control", @placeholder = "Start typing your message here....", required = "required" })
    </div>
    <button type="button" class="btn btn-primary" id="reset">Clear Input</button>

    <br />

    <p>
        <div class="container" id="giphy-append">
          
        </div>
    </p>

}

@section JavaScript
{    
    <script type="text/javascript" src="@Url.Content("/Scripts/ajax-giphy.js")"></script>
}