body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#title{
    text-align: center;
    padding-top:10px;
}

#ApartmentName.form-control{

    max-width: 600px;

}

#UnitNumber.form-control{

    max-width: 570px;
}

#submit-button{
    text-align: center;
}

.btn{
   text-align:center;
}



#sub-title{
    text-align: center
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
   max-width: 1170px;
}
