
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Converter</title>
</head>
<body>
    <div> 
        <h2>Routing to the Converter Page</h2>
    </div>
</body>
</html>
