@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460 - Homework 4</h1>
    <p class="lead">This is the first of many journey in order for me to understand ASP.NET MVC5. The link should redirect you to my Github page whilest I work on it. A few forms and some simple server-side logic -- learning the basics of GET, POST, query strings, form data and handling it all from an ASP.NET MVC5 application</p>
    <p><a href="https://swakita14.github.io" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Miles to Metric Converter</h2>
        <p>One of my first MVC app for this class includes a web application that uses no database and simply converts the user input (miles) to metric units.</p>
        <p><a class="btn btn-primary" href="Home/Converter">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Color Chooser</h2>
        <p>This allows users to input to hexademical value of the colors, and output a mixture of the two. Typical online choosers are way too useful. We wanted something fun and completely useless. This form POSTS's the data to the server</p>
        <p><a class="btn btn-primary" href="Color/ColorChooser">Check it out &raquo;</a></p>
    </div>
</div>