@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460</h1>
    <p class="lead">This is the first of many journey in order for me to understand ASP.NET MVC5. The link should redirect you to my Github page whilest I work on it</p>
    <p><a href="https://swakita14.github.io" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Miles to Metric Converter</h2>
        <p>One of my first MVC app for this class includes a web application that uses no database and simply converts the user input (miles) to metric units.</p>
        <p><a class="btn btn-default" href="Converter">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Color Chooser</h2>
        <p>This allows users to input to hexademical value of the colors, and output a mixture of the two.</p>
        <p><a class="btn btn-default" href="Color/ColorChooser">Learn more &raquo;</a></p>
    </div>
</div>